@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CamMeister!</h1>
    <a> <p> Register here your spotted Camera's and help us secure your privacy. </p></a>
</div>

<center>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2517.286860101263!2d5.954372034663844!3d50.88140089865558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0bdc055ab9379%3A0x8425bd9cdc8235a5!2sZuyd%20University%20of%20Applied%20Sciences!5e0!3m2!1sen!2snl!4v1663927880004!5m2!1sen!2snl" width="1000" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</center>
